@charset "utf-8";

body {
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
    margin: 0px;
    padding: 0px;
    color: #fff;
}

.menu {
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: 1.5em;
  text-align: right;
  padding-top: 1em;
  padding-right: 1em;
  font-family: 'Grape Nuts', cursive;
}

.menu a {
  text-decoration: none;
}

.menu a:hover {
opacity: .7;
color: rgb(223, 223, 223);
transform: scale(1.0);
transition-duration: .7s;
cursor: pointer;
}

.fa-bars:before {
  content: none;
}

/*----------------------------
* メニュー開閉ボタン
*----------------------------*/
@media  screen and (max-width: 768px){
  .fa-bars:before {
    content: "\f0c9";
  }

  .menu-btn{
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 2;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #333;
    color: #fff;
  }

  /*----------------------------
  * メニュー本体
  *----------------------------*/
  a:active {
    color: #888;
  }

  .menu a {
  font-size: 18px;
  display: block;
  padding: 0.1rem 0px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  }

  .menu__item a:hover {
    opacity: .7;
    color: rgb(223, 223, 223);
    transform: scale(1.05);
  transition-duration: .7s;
  cursor: pointer;
  }

  .menu{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #555;
    padding-top: 0em;
    padding-right: 0em;
  }

  .menu a {
      text-decoration: none;
      color: #fff;
  }

  .menu__item{
    width: 100%;
    height: auto;
    padding: .5em 1em;
    text-align: center;
    color: #fff;
    box-sizing: border-box;
  }

/* アニメーション前のメニューの状態 */
.menu{
  pointer-events: none;
  opacity: 0;
  transform-origin: center;
  transform: scale(.5);
  transition: all .3s ease;
}
/* アニメーション後のメニューの状態 */
.menu.is-active{
  pointer-events: auto;
  opacity: 1;
  transform: scale(1.0);
}
}



/*ここまで*/

a{
    color: #fff;
  }

#particles-js{ 
    position:fixed;/*描画固定*/
    z-index:-1;/*描画を一番下に*/
    width: 100%;
    height: 100%;/*背景色*/
    background-color: #000;
  }

  #wrapper{
    position: relative;/*描画を#particles-jsよりも上にするためposition:relative;を指定*/
    z-index: 1;/*z-indexの数字を大きくすることで描画を#particles-jsよりも上に*/
    width:100%;
    height: 100%;
    padding-top: 100px;
  }

  /*========= ローディング画面のためのCSS ===============*/
#splash {
	position: fixed;
	width: 100%;
	height: 100%;
	background: #000;
	z-index: 9999999;
	text-align:center;
	color:#fff;
}

#splash-logo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  font-size: 4em;
  font-family: 'Grape Nuts', cursive;
}
/*========= 画面遷移のためのCSS ===============*/
body{
  background:#000;/*遷移アニメーションと同じ色を指定*/
}

body.appear{
  background:#000;/*画面を開いた後の背景色を指定*/
}

/*画面遷移アニメーション*/
.splashbg1,
.splashbg2{
    display: none;
}

/*bodyにappearクラスがついたら出現*/
body.appear .splashbg1,
body.appear .splashbg2{
	display:block;
}

/*右に消えるエリア*/
body.appear .splashbg1{
	animation-name:PageAnime;
	animation-duration:1.2s;
	animation-timing-function:ease-in-out;
	animation-fill-mode:forwards;
    content: "";
    position:fixed;
	z-index: 999;
    width: 100%;
    height: 100vh;
    top: 0;
	left:50%;
    transform: scaleX(1);
    background-color: #000;/*伸びる背景色の設定*/
}

@keyframes PageAnime{
	0% {
		transform-origin:left;
		transform:scaleX(1);
	}
	50% {
		transform-origin:right;
	}
	100% {
		transform-origin:right;
		transform:scaleX(0);
	}
}

/*左に消えるエリア*/
body.appear .splashbg2{
	animation-name:PageAnime2;
	animation-duration:1.2s;
	animation-timing-function:ease-in-out;
	animation-fill-mode:forwards;
  content: "";
  position:fixed;
	z-index: 999;
  width: 100%;
  height: 100vh;
  top: 0;
	right:50%;
  transform: scaleX(1);
  background-color: #000;/*伸びる背景色の設定*/
}

@keyframes PageAnime2{
	0% {
		transform-origin:right;
		transform:scaleX(1);
	}

	50% {
		transform-origin:left;
	}
	100% {
		transform-origin:left;
		transform:scaleX(0);
	}
}

/*画面遷移の後現れるコンテンツ設定*/
#container{
	opacity: 0;/*はじめは透過0に*/
}

/*bodyにappearクラスがついたら出現*/
body.appear #container{
	animation-name:PageAnimeAppear;
	animation-duration:1.0s;
	animation-delay:0.2s;
	animation-fill-mode:forwards;
	opacity: 0;
}

@keyframes PageAnimeAppear{
	0% {
	opacity: 0;
	}
	100% {
	opacity: 1;
}
}

.main-container {
    margin: 0 auto;
    text-align: center;
    display: block;
}

.main-container h1 {
  margin-top: 2em;
  margin-bottom: 1em;
  font-family: 'Grape Nuts', cursive;
}

.main-container h2 {
  font-family: 'BIZ UDPMincho', cursive;
}

.main-container .text2 {
    text-align: left;
    display: inline-block;
}

.syoukai img{
  width: 45%;
  margin-top: 3em;
}

.profile1 {
  display: flex;
  justify-content: center;
}

.profile1 img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 2em;
}

.profile1 {
  align-items: center;
}

.profile1 p {
  display: unset;
}

.profile1 h2 br {
  display: block;
}

.profile1 h2 span {
  font-size: 0.7em;
  font-weight: 550;
}

.text1 {
  font-family: 'BIZ UDPMincho', cursive;
  line-height: 1.7em;
  list-style-type: none;
  margin-top: .8em;
  text-align: center;
  padding: 0;
}

.text2 {
  font-family: 'BIZ UDPMincho', cursive;
  line-height: 1.7em;
  list-style-type: none;
  margin-top: 0em;
  padding-left: 3em;
}

.about1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4em;
  margin-bottom: 2em;
}

.about2 {
  display: block;
  margin: 0em 2em 0em 2em;
}

.about3 {
  display: block;
}

.about3 h2 {
  margin-bottom: -0.1em;
}

.about3 .text {
  margin-top: 0em;
}

.about4 {
  display: block;
  margin: 0em 2em 0em 2em;
}

.profile2 {
  display: flex;
  justify-content: center;
  font-family: 'BIZ UDPMincho', cursive;
}

.hobby1 {
  text-align: center;
  margin-right: 8em;
}

.text3 {
  line-height: 1.7em;
  list-style-type: none;
  display: inline-block;
  text-align: left;
  margin-top: 0em;
  padding: 0em;
}

.skill1 {
  text-align: center;
  margin-left: 8em;
}

.text4 {
  line-height: 1.7em;
  list-style-type: none;
  display: inline-block;
  text-align: left;
  margin-top: 0em;
  padding: 0em;
}


.design {
    font-family: 'BIZ UDPMincho', cursive;
    line-height: 1.7em;
}

.design img {
    width: 450px;
}

.design img:hover {
  opacity: .8;
  transform: scale(1.2,1.2);
  transition-duration: .7s;
  cursor: pointer;
}

.design1 img:hover {
  transform: none;
  transition-duration: none;
  cursor: unset;
}

.kyotokankou {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5em;
  margin-bottom: 5em;
}

.kyotokankou1 {
  display: block;
  margin-left: 3em;
}

.kyotokankou1 h3 {
  font-size: 1.5em;
  margin-bottom: 0em;
}

.kyotokankou1 p {
  text-align: left;
  font-size: 1.04em;
}

.kyotokankou img {
  margin-right: 3em;
}

.TropicalShop {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5em;
  margin-bottom: 5em;
}

.TropicalShop1 {
  width: 345px;
  display: block;
  margin-left: 3em;
}

.TropicalShop1 h3 {
  font-size: 1.5em;
  margin-bottom: 0em;
}

.TropicalShop1 p {
  text-align: left;
  font-size: 1.04em;
  padding-left: 1em;
}

.TropicalShop img {
  margin-right: 3em;
}

/*　1000pxより小さい　*/
@media screen and (max-width: 1000px) {
  
  body {
    font-family: 'BIZ UDPMincho', cursive;
  }

  .nav-container ul {
    font-size: 0.8em;
    margin: 0em 1em;
    padding: 0.5em 0em;
  }

  .syoukai h1 {
    margin-top: 0em;
  }

  .syoukai img{
    margin-top: 1em;
  }

  .main-container h1 {
    font-size: 2.2em;
  }

  .main-container h2 {
    font-size: 1.2em;
  }

  .about1 {
    display: block;
  }

  .about4 {
    margin-top: 3em;
  }

  .hobby1 {
    margin-right: 2em;
  }

  .skill1 {
    margin-left: 2em;
  }

  .design {
    display: block;
    margin-top: em;
  }

  .design img {
    width: 40%;
    margin-right: 0em;
    margin-top: 3em;
  }

  .kyotokankou {
    display: unset;
  }

  .kyotokankou img {
    margin-top: 2em;
  }

  .TropicalShop {
    display: unset;
  }

  .kyotokankou1 {
    margin: 0em;
  }

  .TropicalShop1 {
    margin: 0em;
    width: unset;
  }

  .kyotokankou1 p {
    display: inline-block;
    font-size: 1.03em;
  }

  .TropicalShop1 p {
    display: inline-block;
    font-size: 1.03em;
    margin-bottom: 5em;
  }
}

/*　768pxより小さい　*/

@media screen and (max-width: 768px) {
  #splash-logo {
    font-size: 2em;
  }

  .nav-container ul {
    font-size: 0.8em;
    margin: 0em 1em;
    padding: 0.5em 0em;
  }

  .syoukai h1 {
    margin-top: 0em;
  }

  .syoukai img{
    width: 70%;
    margin-top: 1em;
  }

  .main-container h1 {
    font-size: 1.5em;
  }
  .main-container p {
    font-size: 0.8em;
  }

  .profile1 {
    display: unset;
  }

  .text1 li {
    font-size: 0.8em;
    line-height: 2em;
  }

  .text2 {
    padding: 0em;
  }

  .text2 li {
    font-size: 0.8em;
    line-height: 2em;
  }

  .text3 li {
    font-size: 0.8em;
    line-height: 2em;
  }

  .text4 li {
    font-size: 0.8em;
    line-height: 2em;
  }

  .about1 {
    display: block;
    margin-top: 2em;
  }

  .about1 h2 {
    font-size: 0.9em;
  }

  .about2 img {
    margin-right: 0em;
    width: 150px;
    height: 150px;
  }
  .hobby1 {
    margin-right: 1em;
  }
  
  .skill1 {
    margin-left: 1em;
  }

  .profile2 h2 {
    font-size: 0.9em;
  }

  .design {
    display: block;
  }

  .design img {
    width: 70%;
    margin-right: 0em;
  }

  .kyotokankou img {
    margin-top: 1em;
  }

  .kyotokankou {
    display: unset;
  }

  .TropicalShop img {
    margin-top: 2em;
  }

  .TropicalShop {
    display: unset;
  }
}
